<h1>Alpha Blog About</h1>
<p>Ici ce trouve toutes les informations primordiales de votre blog favoris !</p>
<p>Par exemple :
    <ul>
        <li>Le nom du créateur : Romain Bunel</li>
        <li>La date de création : 17/03/2020 #confinement</li>
    </ul>
</p>

<%= link_to 'Retour au menu principal', root_path %>