<div class="container">
    <footer>
        <small>
            Alpha blog from <%= link_to 'mon cul', 'https://fr.wikipedia.org/wiki/Montcuq' %> Copyright by Moi
        </small>
        <nav>
            <ul>
                <li><%= link_to 'A propos', about_path %></li>
                <li><%= link_to 'Articles', articles_path %></li>
            </ul>
        </nav>
    </footer>
</div>